.navbar {
    padding-left: 5vw;
    background-color: #555555;
    color: white;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
    font-size: 2rem;
}
.logo {
    color: whitesmoke !important;
    font-size: 2rem;
}